{% extends "base.html" %}

{% block title %}
        localnotes - add note
{% endblock %}
{% block content %}
        <form method = "post" class = "add_form" enctype="multipart/form-data">
                {% csrf_token %}
                <label>title</label><br/>
                <input type="text" name="title"/><br/>
                <label>url: </label><br/>
                <input type="text" name="url"/><br/>
                <label>description</label><br/>
                <textarea name="description"></textarea><br/>
                <select name = "category">
                        {% for category in categories %}
                        <option value={{category.id}}>{{category.name}}</option>
                        {% endfor %}
                </select><br/>
                <input type="submit">
        </form>
        
{% endblock %}
