{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
          <link rel="stylesheet" href="{% static 'css/style.css'%}">
          <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
          <header class="header">
                  <div class="header-container">
                            <!-- logo -->
                            <a href="/" class="site-logo">localnotes</a>

                            <!-- navigation -->
                            <nav class="site-nav">
                                    <a href="/" class="nav-link">home</a>
                                    <a href="/add" class="nav-link">add note</a>
                                    <a href="{% url 'categories' %}" class="nav-link">categories</a>
                            </nav>
                  </div>
          </header>
          {% block content %}{% endblock %}
  </body>
</html>
